<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#" style="color:darkblue"><b><img src="/assets/logo.png" style="width: 50px">My Store</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: flex-end">
          <a class="nav-link" style="color: purple" href="#">Products</a>
          <button class="nav-link" style="color:black; background-color: lightblue; border-radius: 10px;" href="#">Checkout</button>  
    </div>
  </nav>
