<app-header></app-header>
<div class="container wrapper" >
  <app-search></app-search>
  <div class="row">
    <app-product class="col-4"></app-product>
    <app-product class="col-4"></app-product>
    <app-product class="col-4"></app-product>
    <app-product class="col-4"></app-product>
    <app-product class="col-4"></app-product>
    <app-product class="col-4"></app-product>
    <!-- <div class="col-4">
      <div class="card">
        <img src="https://images-na.ssl-images-amazon.com/images/I/61Lnw%2BeeaZL._SX425_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Amazing Shoes</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart</a>
          <a href="#" class="btn btn-primary" style="float: right">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" >
        <img src="https://images-na.ssl-images-amazon.com/images/I/61Lnw%2BeeaZL._SX425_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Amazing bags</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add To Cart</a>
          <a href="#" class="btn btn-primary" style="float: right">Buy Now</a>
        </div>
      </div>
    </div> -->
  </div>
</div>
<footer style="height: 20px" style="background-color: lightgray">
  <p>&copy;my_store.com</p>
</footer>        
