<div class="card">
  <img [src]="product.imageUrl" class="card-img-top" [alt]="product.message">
  <div class="card-body">
    <h5 class="card-title">{{product.title | lowercase}}</h5>
    <p class="card-text">{{product.description}}</p>
    <p class="text-success">{{product.price}}</p>
    <a class="btn btn-primary" (click)="goToDetails(product.id)">Product Details</a>
    <a href="#" class="btn btn-primary" *ngIf="product.isAvailable; else buyer" style="float: right"
      (click)="addToCart()">Add To Cart</a>
    <ng-template #buyer>
      <button (click)="openModal(template)" tooltip="Ninnodalle paranje sangathy theernennu!!!." placement="bottom"
        class="btn btn-warning" *ngIf="!product.isAvailable" style="float: right">Sold Out </button>
      <p>{{message}}</p>
    </ng-template>
    <a class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</a>
  </div>
</div>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>