/* You can add global styles to this file, and also import other style files */
.wrapper{
    margin-top: 90px;
    min-height: calc(100vh-60vh)
}
.row{
    margin-top: 20px;
}
p{
    margin-bottom: 0px;
}
.card{
    margin-bottom: 20px;
}